<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON_EX</title>
</head>
<body>
    <h4>My Page</h4>
    <a href="/logout"><button>로그아웃</button></a>
    <hr>
    <h1>내 정보</h1>
    <h4>사용자 이름 : <span sec:authentication="principal.username"></span></h4>
    <h4>사용자 권한 : <span sec:authentication="principal.authorities"></span></h4>
</body>
</html>